p { 
    text-indent: 20px;
  }

  img {
    text-align: center;
  }

  .container {
    text-align: center;
    
    border: 0px solid;
  }

 .negrito {
  font-weight: bold;
  white-space: nowrap;
 }